body{
    text-align:center;
    background: rgb(238, 238, 238);
    font-size:5vh;

}

.chats{
    margin:auto;
    width: 45vw;
    background: rgb(252, 252, 252);
    border: none;
    border-radius: 5px;
    height: 60vh;
    overflow: scroll;
    overflow-x: hidden;
}

table {
    table-layout: auto;
    width:100% 
}

.button{
    width:20vw;
    height:5vh;
    background: rgb(1, 149, 218);
}